/*Header stuff*/
   header {
    display:grid;
    grid-template-areas: "n h i";    
    background-color: #2f0084;
    height: 72px;
    width:100%;
}

main {
  min-height: calc(800px);
}

footer{
  background:#2f0084;
  height: 100px;
  color: white;
}
.navigation{
  grid-area: n;
    
   }
#heading{
  grid-area: h;
  text-align: center;
  color:white;
  font-size: 20px;
  
  
   }

#image{
  grid-area: i;
  justify-self: end;
  object-fit: contain;
  max-width: 70px;
  max-height: 100%;
  border: 1px solid black;
   }
   
  /*Navigation hamburger yaz*/
   nav {
    display: none;
   }

   #hamburger-menu{
    margin-top:10px;
    margin-left: 10px;
   }

   body {
    font-family: 'Lato', sans-serif;
  }
  /*Nav Overlay in smaller views*/
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f0084;
    background-color: rgba(16, 1, 44, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fffefe;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #2f0084;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  /* .weather-card{
    display:flex;
    background-color: #f7b05b;
  }

  .forecast-container {
    display: flex;
  }
  
  .forecast-item {
    flex-basis: 33%;
  } */

  #weather-card {
    background-color: #f7b05b;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 450px;
    height: 254px;
    justify-content: center;
  }
  .forecast-container {
    display: flex;
  justify-content: space-between;
  flex-basis: 70%;
  text-align: center;
  }
  
  .forecast-day {
    /* flex-basis: 30%; */
    margin:12px;
    text-align: center;
    background-color: #A9BCD0;
    width:120px;
    height: 230px;
  }
  