/*Header stuff*/
   header {
    display:grid;
    grid-template-areas: "n h i";    
    background-color: #2f0084;
    height: 72px;
    width:100%;
}

main {
  min-height: calc(800px);
  margin:auto;
}

footer{
  background:#2f0084;
  color: white;
  
}

#footer-stuff{
  display:flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: white;
  
}
.navigation{
  grid-area: n;

   }
#heading{
  grid-area: h;
  text-align: center;
  color:white;
  font-size: 20px;
  
  
   }

#image{
  grid-area: i;
  justify-self: end;
  object-fit: contain;
  max-width: 70px;
  max-height: 100%;
  border: 1px solid black;
   }
   
  /*Navigation hamburger yaz*/
   nav {
    display: none;
   }

   #hamburger-menu{
    margin-top:10px;
    margin-left: 10px;
   }

   body {
    font-family: 'Lato', sans-serif;
  }
  /*Nav Overlay in smaller views*/
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f0084;
    background-color: rgba(16, 1, 44, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fffefe;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #2f0084;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

 
  
  /* Order Confirmation Stuff */
  #orderConfirmationMain {
    max-width:70%;
    min-width: 300px;
    margin:auto;
    background-color: #f7b05b;
    
  }
  #order-info {
    list-style:none;
    margin-top: -10px;
    padding:2rem;
    border: 1px solid black;
  }
  #order-info-container {
    display:grid;
    background-color:#f7b05b;
    justify-self: center;
    height: 500px;
    justify-content: center;
    align-items: center;
    
  }
  li {
    margin:5px;
  }
  #order-text {
    text-align: center;
    margin-top: -15px;
    padding:2rem;
    border: 1px solid black;
  }

  #ocheadtext {
    padding:2rem;
    border: 1px solid black;
  }

  /* Fresh Page Stuff */
  #main-form {
    width:300px;
    margin: auto;
    background-color: #f7b05b;
    display:grid;
    justify-content: center;
    padding: 1rem;
  }

  #fresh-title {
   text-align: center;
  }

  #specialty-drink-form {
    background-color: #f7b05b;
    width:300px;
    padding:1rem;
    
  }

 

  form label {
    display: block;
    padding-top: 1rem;
    
  }

  form fieldset, .package-info {
  
    border: 1px solid black;
    border-radius: 10px; 
    /* padding: .5rem 2%; */
    width:100%;
    max-width:26rem;
    
    
  }
  /* form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
  } */
  
  form label.top {
    display: block;
    padding-top: 1rem;
    
    /* font-size: .8rem; */
  }
  
  form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 80%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  form label.bottom {
    display: block;
    padding:.75rem 0;
    color: black;
  }
  
  form input.submitBtn {
    border: none;
    background-color: rgb(22, 96, 136);
    color:white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0 2rem 2%;
    width: 80%;
    max-width: 20rem;
  }
  
  form input.submitBtn:hover{
    background-color: #195270;
  }
  

  select {
    background-color: rgba(0,0,0, .2);
    border: black;
  }
  
  
  form label.top input:required {
    border-left: red solid 6px;
  }
  
  form label.top input:required:valid {
    border-left: green solid 6px;
  }
  
  form label.top input:not([required]) {
    border-left: rgb(8, 8, 8) solid 6px;
  }
  
  form label.background{
    margin-top:1rem;
  }
  textarea {
    display: block;
    background-color: rgba(0,0,0, .2);
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid black;

  }

  input::placeholder,
textarea::placeholder,
select::placeholder {
  color: black; /* set the color of the placeholder text */
}

label.input[type="text"]:not(:focus),
label.input[type="email"]:not(:focus),
label.input[type="tel"]:not(:focus),
textarea:not(:focus) {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

/* Target all autofilled inputs */
label.input:-webkit-autofill {
  background-color: rgba(0, 0, 0, 0.2) !important;
}


#home-main {
  display:grid;
  margin:auto;
  justify-content:center;
  
  grid-template-areas: "sd"
                       "fijb"
                       "do"
                       "wc"
                       "ca";
 }

 #specialty-drinks {
  grid-area:sd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 #weather-card {
  grid-area:wc;
 }

 #drinks-ordered {
  grid-area:do;
 }

 #fruit-image-join-banner {
  grid-area:fijb;
  text-align:center;
  position:relative;
  height: fit-content
 }

 #coastal-area {
  grid-area:ca;
 }

 .main-elements {
  margin: 1rem;
  padding: 1rem;
  background-color: #f7b05b;
}

 .banner{
  max-width: 100%;
    height: auto;
    width: auto\9; 
 }

 .specialDrinks{
  max-width: 100%;
    height: auto;
    width: auto\9; 
  
 }

 #drinks-ordered {
  grid-area:do;
  background-color: #f7b05b;
  text-align: center;
 }

#drink-count {
  font-size: 60px;
}

#inner-card {
  background-color: #A9BCD0;
  padding:1rem;
}

#hero-button{
position:absolute;
bottom:20px;
right:25px;
border: none;
background-color: #166088;
color:white;
border-radius: 1rem;
padding: .75rem 1.5rem;
margin: 2rem 0 2rem 2%;
width: 80%;
max-width: 20rem;
}

.forecast-day{
  text-align:center;
  margin:1rem;
  padding: 1rem;
  background-color: #A9BCD0;
}

.forecast-days{
  text-align: center;
}

#aboutUsMain {
  background-color: #f7b05b;
}

#history{
  text-align: center;
}

#map{
  text-align: center;
}

ul {
  list-style: none;
}

#list{
  color:black;
  text-align: center;
}

#list ul li a{
  color:black;
}
/*
<main>
        <section id="history">
          <h2>Our History</h2>
          <p>Bountiful Foods was founded in 2010 by Jane and John Smith. They saw a need for fresh, locally sourced, organic produce in their community and decided to take matters into their own hands. Starting with a small storefront in Carlsbad, they quickly gained a following and expanded their business to include food trucks that cover the coastal area from Los Angeles to San Diego.</p>
          <p>Today, Bountiful Foods continues to be owned and operated by the Smith family. They are proud to support local farmers and provide healthy food options to their community and tourists visiting the area.</p>
        </section>
        <section id="map">
         
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13359.377214648485!2d-117.33403225!3d33.158093799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe46e0cc17d859193!2sBountiful%20Foods!5e0!3m2!1sen!2sus!4v1650858249127!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
      </main>
*/