@media screen and (min-width: 600px) {
    body{
        display: grid;
        max-width: 1024px;
        margin:auto;
        grid-template-areas: "h h"
                             "s1 s2"
                             "s3 s3"
                             "f f"
                             
    }

    header{
        grid-area: h;
    }

    #section1{
        grid-area: s1;
    }

    #section2{
        grid-area: s2;
    }

    #section3{
        grid-area: s3;
    }


    footer{
        grid-area: f;
    }
}