@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  /* min-height: 100vh; */
}
  
  header,
  footer,
  main {
     /* max-width: 1240px;  */
    /* min-width: 200px; */
    margin: 0 auto;
    /* border: 1px solid black; */
    /* padding: 1rem; */
  }
  header,
  footer {
    background-color: #172121;
    text-align: center;
    color: white;
    
  }
  nav {
    background-color: #172121;
    max-width: 832px; 
    margin: 0 auto;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0px;
    margin-block: 0px;
    width: 100%;
    background-color: #587d71;  
    color: white;
  }
  
  nav ul li {
    border: 1px solid black;
    width: 100%;
    color: white;
  }
  
  nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;    
    color: white;
  }
  
  nav ul li a:hover{
    background-color: rgba(0,0,0,0.1);  
    color: white;
    
  }
  
  h1{
      text-align: center;
      font-size: min(4vw, 16px)
      
  }
  #header-words{
    max-width: 300px;
    max-height: 100px;
    
  }
  
  section a img{
    max-width: 30px;
    border: 0;
    margin-right: 0.2rem;
  }
  /* table{
    border-collapse: collapse;
  }
  
  td{
    border: 1px solid black;  
    padding: 1rem;
  } */
  
  #logo-link img{
    /* border: 1px solid black; */
    max-width: 100px;
    padding:10px;
  }

 
  
  nav ul li.active a{
    background-color:#172121;
  }
  
  .active a{  
    color: white;
  }

  a {
    color: white;
  }
  
  header h1{
    padding: 1rem;
    /* max-block-size: 200px; */
  }
  
  #footer-logo{
    max-width:150px;
    padding:0.5rem;
  }
  .main-content{
    min-height:150px;
    background-color: #f6f4d2;
    padding:0.2rem;
    margin:0.5rem;
  }
  #weather{
    padding: 20px;
    text-align:center;
    
  }
  
  
  #hero{
    text-align:center;
    max-width:auto;
    position:relative;
  }

  #hero img{
    max-width:100%;
    min-height: 100%;
    object-fit:cover;

  }

  #hero-button{
    position:absolute;
  bottom:25px;
  right:25px;
  }

  #join{
    text-align:center;
    position:relative;
  }

  #join-button{
    margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }
  p {
    margin:10px;
    
  }
  /* CSS */
.button-15 {
  background-image: linear-gradient(#fb9f74, #f07c46);
  border: 1px solid #f07c46;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#fb9f74, #f07c46);
  border-color: #f07c46;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#fb9f74, #f07c46);
  border-color: #f07c46;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(224, 106, 10, 0.5) 0 0 0 3px;
  outline: none;
}

  #spotlight{
    max-width: 100%;
  }
  /* Hamburger menu stuff */
  
  #hamburger-menu{
    background-color: #172121;  
    font-size: 2rem;
    border: 1px solid black;
    color:white;
    
  }
  
  #navbar{
    display: none;
    
  }
  
  #menu-open{
    display: none;
  }
  
  #menu-closed{
    display: inline;
  }
  
  #navbar.menu-active{
    display: flex;
    
  }
  
  #menu-open.menu-active{
    display: inline;
    
  }
  
  #menu-closed.menu-active{
    display: none;
  }
  
  #join, #spotlight3 {
    display:none;
  }
 

  /*Grid for small view*/
  #header-logo-title{
    display: grid;
    grid-template-areas: "hl hw1";
  
  }

  #header-logo{
    grid-area: hl
    
  }

  #header-words1{
    
    grid-area: hw1;
  }

  /* #header-words2{
    grid-area: hw2;
    max-width: 100%;
  } */

  #meet-greet{
    display:none;
  }

  #meet-greet.active{
    display:block;
    background-color: grey;
    color: black;
   
                         
  }
 
 #heading-stuff {
  align-items: center;
  display: grid;
  grid-template-areas: "hlg sm"
                       "ht ht";
 }
  #header-logo-title{
    max-width: 270px;
    grid-area: hlg;
  }

  #social-media{
    max-width: 100px;
    grid-area: sm;
    justify-self:end;
    padding:20px;
  }

  #hamburger-menu{
    align-items: right;
    grid-area: hm;
  }


  #navbar{
    grid-area:nb;
  }

  .header-today{
    align-items: center;
    grid-area: ht;
    font-size:2vw;
    background-color: #587d71;
    margin:3px;
    max-height: 35px;
    font-size: max(8px)
  }

  /*main body grid*/
  main{
    display:grid;
    grid-template-areas: "h"
                         "e"
                         "w"
                         "n"
                         "sp"
                         
                         ;
  }

  #event {
    grid-area:e;
  }

  #weather {
    grid-area:w;
  }

  #join {
    grid-area:j;
  }

  #news {
    grid-area:n;
  }

  #spotlights {
    grid-area:sp;
    /* border: 1px solid black; */
    margin: 0.5rem;
    background-color: #b1a296;
  }

  #hero {
    grid-area:h;
  }