@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  /* min-height: 100vh; */
}
  
  header,
  footer,
  main {
     /* max-width: 1240px;  */
    /* min-width: 200px; */
    margin: 0 auto;
    /* border: 1px solid black; */
    /* padding: 1rem; */
  }
  header,
  footer {
    background-color: #172121;
    text-align: center;
    color: white;
    
  }
  nav {
    background-color: #172121;
    max-width: 832px; 
    margin: 0 auto;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0px;
    margin-block: 0px;
    width: 100%;
    background-color: #587d71;  
    color: white;
  }
  
  nav ul li {
    border: 1px solid black;
    width: 100%;
    color: white;
  }
  
  nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;    
    color: white;
  }
  
  nav ul li a:hover{
    background-color: rgba(0,0,0,0.1);  
    color: white;
    
  }
  
  nav ul li a.active{
    background-color: rgba(0,0,0,0.3);  
    color: white;
    
  }
  
  
  /* table{
    border-collapse: collapse;
  }
  
  td{
    border: 1px solid black;  
    padding: 1rem;
  } */
  
  /* #logo-link img{
    
    max-width: 100px;
    padding:10px;
  } */

 
  
  nav ul li.active a{
    background-color:#172121;
  }
  
  .active a{  
    color: white;
  }

  a {
    color: white;
  }
  
  
  
  #footer-logo{
    max-width:150px;
    padding:0.5rem;
  }
  .main-content{
    min-height:150px;
    background-color: #f6f4d2;
    padding:0.2rem;
    margin:0.4rem;
  }
  #weather{
    padding: 20px;
    text-align:center;
    
    
  }
  
  #news{
    text-align: center;
  }

  #spotlight1{
    text-align: center;
    
  }

  #spotlight2{
    text-align: center;
  }

  #spotlight3{
    text-align: center;
  }

  #event{
    text-align: center;
  }

  .email{
    font-size: 0.8rem;
  }

  
  #hero{
    text-align:center;
    
    position:relative;
  }

  #hero img{
    max-width:100%;
    min-height: 100%;
    object-fit:cover;

  }

  #hero-button{
    position:absolute;
  bottom:25px;
  right:25px;
  }

  #join{
    text-align:center;
    position:relative;
  }

  
  p {
    margin:10px;
    
  }
  /* Buttons CSS */
  #join-button{
    margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

.button-15 {
  background-image: linear-gradient(#fb9f74, #f07c46);
  border: 1px solid #f07c46;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#ff712f, #f55309);
  border-color: #f07c46;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#fb9f74, #f07c46);
  border-color: #f07c46;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(224, 106, 10, 0.5) 0 0 0 3px;
  outline: none;
}

  #spotlight{
    max-width: 100%;
  }
  /* --------------------Hamburger menu stuff------------------- */
  
  #hamburger-menu{
    background-color: #172121;  
    font-size: 2rem;
    border: 1px solid black;
    color:white;
    
  }
  
  #navbar{
    display: none;
    
  }
  
  #menu-open{
    display: none;
  }
  
  #menu-closed{
    display: inline;
  }
  
  #navbar.menu-active{
    display: flex;
    
  }
  
  #menu-open.menu-active{
    display: inline;
    
  }
  
  #menu-closed.menu-active{
    display: none;
  }
  
  #join, #spotlight3 {
    display:none;
  }
 

  #meet-greet{
    display:none;
  }

  #meet-greet.active{
    display:block;
    background-color: grey;
    color: black;
   
                         
  }

/* -------------------Discover-------------------- */

  #dhw1{
    margin-top: -25px;
  }

  #days-discover{
    margin-bottom: -2px;
    background-color: grey;
    color: black;
    min-width: 100%;
    text-align: center;
    max-height: 30px;
    font-size: min(4vw, 15px);
                         
  }

  .discoverimg{            
    display: block;
    /* box-shadow: 5px 5px 5px 5px rgb(2, 4, 5); */
    filter: blur(0.0em);
    transition: filter 0.5s;
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 30px;
}

.discoverimg[data-src]{
    filter: blur(0.3em);
    width: 300px;
    height: 400px;
}

.discoverimg:hover{
    box-shadow: 5px 5px 5px 5px rgb(2, 4, 5);
}

#discover-pictures{
  margin: auto;
  max-width: 800px;
  text-align: center;
  background-color: #f6f4d2;
}

.disc-main-link{
  color:black;
}

/* -------------------Join-------------------- */

form fieldset, .package-info {
  
  border: 1px solid black;
  border-radius: 10px; 
  /* padding: .5rem 2%; */
  width:100%;
  max-width:26rem;
  
  
}
/* form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 .5rem;
} */

form label.top {
  display: block;
  padding-top: 1rem;
  
  font-size: .8rem;
}

form label.top input, form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 80%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.bottom {
  display: block;
  padding:.75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color:white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 2rem 0 2rem 2%;
  width: 80%;
  max-width: 20rem;
}



form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

form label.top input:not([required]) {
  border-left: grey solid 6px;
}

form label.background{
  font-size: .8rem;
  margin-top:3rem;
}
textarea {
  display: block;
  background-color: rgb(221,219,189);
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.join-main{
  display: grid;
  grid-template-areas: "fmb"
                       "fm"
                       " pi";
  max-width: 900px;
  align-content: center;
  background-color: #f6f4d2;
  padding:40px;
  margin-top: -14px;
}

#form-banner{
  grid-area: fmb;
  text-align: center;
  margin-top: -20px;
}

.package-info{
  grid-area: pi;
  max-width: 26rem;
  border: 1px solid black;
  padding:12px;
  

}

form{
  grid-area: fm;
  
}

/*<--------------------Thank you-------------------->*/
.thanks-main{
  text-align: center;
  padding:10rem;
  background-color: #f6f4d2;
  margin-top: -14px;
}

/* Directory Page Stuff */
.directory-main{
  width: 100%;
}

#directory-selector{
  width: 100%;
  text-align: center;
}

#directory-selector button{
  padding: 1rem;
  margin: .5rem;
  border-radius: 5px;
  /* background-color: grey; */
  border: 1px grey solid;
  
  background-image: linear-gradient(#c9c6c5, #5a5958);
}

#directory-selector button.active{
  background-image: linear-gradient(#f8ac89, #f04d02);
  border: 1px #f8ac89;
  box-shadow: rgba(224, 106, 10, 0.5) 0 0 0 3px;
}

/* Cards view */

.directory-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
}

.directory-cards section{
  text-align: center;    
  border: 2px solid grey;    
  width: 300px;
  background-color: #f6f4d2;
  padding: 1rem;
  margin: .5rem;
}

.directory-cards section a{
  color:#334741;
}

.directory-cards .gold-member{
  box-shadow: 10px 5px 5px gold;
  border: 2px solid gold; 
}

.directory-cards .silver-member{
  box-shadow: 10px 5px 5px rgb(139, 139, 139);
  border: 2px solid rgb(139, 139, 139); 
}

.directory-cards .bronze-member{
  box-shadow: 10px 5px 5px rgb(205, 127, 50);
  border: 2px solid rgb(205, 127, 50); 
}

/* List View */

.directory-list{    
  display: grid;
  justify-items: center;   
  padding: 1rem;    
}

.directory-list section img{
  display: none;
}

.directory-list section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  width: 70%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.directory-list section:nth-child(odd) {
  background-color: rgb(216, 219, 217);
}

.directory-list section:nth-child(even) {
  background-color: rgb(187, 189, 188);
}

.directory-list section a {
  color:#3b534c;
}

  /*Header stuff*/
 
 #heading-stuff {
  display: grid;
  grid-template-areas: "hl hw sm";    
  
  width:100%;
}

#logo-link{
  grid-area: hl;
  max-width: 100%;
  min-width:100px;
  margin-top:20px;
  padding:10px;
}

#header-words{
  grid-area: hw;
  margin-top: 50px;
} 

  header h1{
    padding: 1rem;
    font-size: min(4vw, 40px)
  }

  #social-media{
    max-width: 100px;
    grid-area: sm;
    margin-top: 90px;
    padding:10px;
  }

   section a img{
    max-width: 200px;
    border: 0;
    margin-right: 0.2rem;
  } 

  

  .header-today{
    align-items: center;
    grid-area: ht;
    font-size:2vw;
    background-color: #587d71;
    margin:3px;
    max-height: 50px;
    font-size: min(4vw, 11px) 
  }

  #hamburger-menu{
   
    grid-area: hm;
  }


  #navbar{
    grid-area:nb;
  }

  

  /*main body grid*/
  .home-main{
    display:grid;
    grid-template-areas: "h"
                         "e"
                         "w"
                         "n"
                         "sp"
                         
                         ;
  }

  #event {
    grid-area:e;
  }

  #weather {
    grid-area:w;
  }

  #join {
    grid-area:j;
  }

  #news {
    grid-area:n;
  }

  #spotlights {
    grid-area:sp;
    /* border: 1px solid black; */
    margin: 0.5rem;
    background-color: #b1a296;
  }

  #hero {
    grid-area:h;
  }