@media screen and (min-width: 800px) {
    nav ul {
        flex-direction: row;
      }
  
      nav ul li {
        text-align: center;
      }
  
      #navbar{
        display: flex;
      }
  
      #hamburger-menu{
        display: none;
      }
      

    #spotlight3{
        display:block;
    }

    .home-main{
        display:grid;
        padding: 0.5rem;
        grid-template-areas: "e h h sp"
                             "w h h sp"
                             "j n n sp"
                             
                             
                             ;
      }
    
      



      #event {
        grid-area:e;
        max-width:300px;
      }
    
      #weather {
        grid-area:w;
        max-width:300px;
      }
    
      #join {
        grid-area:j;
        max-width:300px;
      }
    
      #news {
        grid-area:n;
        
      }
    
      #spotlights {
        grid-area:sp;
        /* border: 1px solid black; */
        margin: 0.5rem;
        background-color: #b1a296;
        max-width:300px;
      }
    
      #hero {
        grid-area:h;
      }

      #spotlights{
        display: grid;
        grid-template-areas:"s1"
                            "s2" ;
      }
    
      #spotlight1{
        grid-area: s1;
      }
    
      #spotlight2{
        grid-area: s2;
      }

      .join-main{
        display: grid;
        grid-template-areas: "fmb fmb"
                             "fm pi";
        max-width: 900px;
        align-content: center;
      }

      .package-info{
        grid-area: pi;
        max-width: 100%;
        border: 1px solid black;
        margin-left: 70px;
        margin-right: -65px;
      }
      form fieldset, .package-info {
  
        border: 1px solid black;
        border-radius: 10px; 
        /* padding: .5rem 2%; */
        width:100%;
        max-width:26rem;
        
        
      }

}