 /* Media Query Updates for middle widths */
  
 @media screen and (min-width: 640px) {
    
    #join, #spotlight2 {
        display: block;
    }

    /*main body grid*/
  .home-main{
     max-width: 1400px; 
    display:grid;
    grid-template-areas: "h h h"
                         "n n n"
                         "sp sp sp"
                         "j j j"
                         "e e w"
                         
                         ;
  }
  

  #event {
    grid-area:e;
  }

  #weather {
    grid-area:w;
  }

  #join {
    grid-area:j;
  }

  #news {
    grid-area:n;
  }

  #spotlights {
    grid-area:sp;
    /* border: 1px solid black; */
    margin: 0.5rem;
    background-color: #b1a296;
  }

  #hero {
    grid-area:h;
  }

  #spotlights{
    display: grid;
    grid-template-areas:"s1 s2" ;
  }

  #spotlight1{
    grid-area: s1;
  }

  #spotlight2{
    grid-area: s2;
  }

  #social-media{
    margin-left:100px;
  }

  #hamburger-menu{
    margin-right:-30px;
  }

  /* footer{
    display:grid;
    grid-template-areas:"fl fa fc" 
                        "fl fa fc"
                        "ln ln ln"
                        "pi pi pi";
  }

  .footer-logo{
    margin-top: 0.7rem;
    grid-area:fl;
  }

  .footer-contact{
    grid-area:fc;
  }

  .footer-address{
    grid-area:fa;
  }

  .project-info{
    grid-area:pi;
  }

  #line{
    grid-area: ln;
  } */
  #footer-flex{
    display: flex;
    justify-content: space-evenly;
  }

  .footer-address{
    padding:30px;
  }

  .footer-contact{
    padding:30px;
  }

  .project-info{
    /* margin-top:2px; */
    padding: 2px;
    
  }
 
}  
